/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #bfd6e6;
  background-color: #dde9f3;
}

.activity {
  order: 3;
  margin: 10px;
  background-size: contain;
  width: 300px;
  height: 200px;
}

.read {
  order: 5;
  background-image: url("img/read.jpg");
}

.cook {
  order: 2;
  background-image: url("img/cook.jpg");
}

.code {
  order: 4;
  background-image: url("img/code.jpg");
}

.family {
  order: 1;
  background-image: url("img/family.jpg");
}

.netflix {
  order: 6;
  background-image: url("img/netflix.jpg");
}

.sleep {
  order: 7;
  background-image: url("img/sleep.jpg");
}

/* --------------- */
/* zadání: 
Prohlédni si html soubor. Nastyluj obrázky, aby se zobrazily vedle sebe, vycentrovaly v obalovém divu a zalamovaly, pokud se nevejdou na stránku. 
Potom obrázky seřaď podle toho, jakou aktivitu budeš dělat dnes po lekci :)   */
